.element__button-like {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  grid-area: like;
  align-self: center;
  justify-self: end;
  padding-right: 62px;
  opacity: 1;
  transition: opacity 0.2s ease 0.1s;
}

.element__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
